<?xml version="1.0"?>
<configuration>
  
  <configSections>
  </configSections>
  
  <!--
  <connectionStrings>
    <add name="SQLConn" connectionString="Data Source =&quot;|DataDirectory|\MMORPG.sdf&quot;" providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  -->
  
  <appSettings>

    <!--Database-->
    <add key="SQLConnection2" value="Data Source=MUSICBOX\SQLEXPRESS;Initial Catalog=Accounts;User Id=DevAgent;Password=dev;"/>
    <add key="SQLConnection" value="Data Source=MUSICBOX\SQLEXPRESS;Initial Catalog=Accounts;User Id=DevAgent;Password=dev;"/>
    <add key="SQLConnection1" value="Data Source=MUSICBOX\SQLEXPRESS; Initial Catalog=Orion2; Integrated Security=SSPI;"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
