<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AutoCodeGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
    
  <appSettings>
  
  </appSettings>

  <userSettings>
    <AutoCodeGen.Properties.Settings>
      <setting name="MainFormWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="MainFormHeight" serializeAs="String">
        <value>450</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="OutputPath" serializeAs="String">
        <value />
      </setting>
      <setting name="FieldSelectorHeight" serializeAs="String">
        <value>313</value>
      </setting>
      <setting name="FieldSelectorWidth" serializeAs="String">
        <value>400</value>
      </setting>
    </AutoCodeGen.Properties.Settings>
  </userSettings>

</configuration>
