<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AutoCodeGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <log4net debug="false">

    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="LogFile.txt"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
      <param name="Threshold" value="INFO"/>
    </appender>

    <root>
      <level value="All"/>
      <appender-ref ref="FileAppender"/>
    </root>

  </log4net>

  <appSettings>

    <!--Object Prefixes and suffixes-->
    <add key="SpNamePrefix" value=""/>
    <add key="SelectSingleByXSpSuffix" value="SelectSingleBy"/>
    <add key="SelectManySpSuffix" value="SelectMany"/>
    <add key="SelectManyByXSpSuffix" value="SelectManyBy"/>
    <add key="SelectAllSpSuffix" value="SelectAll"/>
    <add key="SearchPagedSpSuffix" value="SearchAllPaged"/>
    <add key="InsertSingleSpSuffix" value="Insert"/>
    <add key="UpdateSpSuffix" value="Update"/>
    <add key="UpdateInsertSpSuffix" value="Set"/>
    <add key="DelAllSpSuffix" value="DeleteAll"/>
    <add key="DelManySpSuffix" value="DeleteMany"/>
    <add key="DelSingleSpSuffix" value="DeleteSingle"/>

    <!-- Sql script output filename -->
    <add key="SQLScriptFileName" value="_SQLScript.sql"/>

    <!-- C# name prefixes -->
    <add key="CSharpClassPrefix" value=""/>
    <add key="CSharpStructPrefix" value=""/>
    <add key="CSharpEnumPrefix" value="e"/>
    <add key="CSharpInterfacePrefix" value="I"/>

    <!-- Xml data output filename -->
    <add key="ExportJsonSuffix" value="_data.json"/>
    <add key="ExportXmlSuffix" value="_data.xml"/>
    
  </appSettings>

  <userSettings>
    <AutoCodeGen.Properties.Settings>
      <setting name="MainFormWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="MainFormHeight" serializeAs="String">
        <value>450</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="OutputPath" serializeAs="String">
        <value />
      </setting>
      <setting name="RemoveExistingScripts" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CreateHelperSp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CreateSqlSpPerms" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SqlSeperateFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FieldSelectorHeight" serializeAs="String">
        <value>313</value>
      </setting>
      <setting name="FieldSelectorWidth" serializeAs="String">
        <value>400</value>
      </setting>
    </AutoCodeGen.Properties.Settings>
  </userSettings>

</configuration>
