<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AutoCodeGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <log4net debug="false">
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="LogFile.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <param name="Threshold" value="INFO"/>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>

  <appSettings>

    <!--File Names-->
    <add key="DefaultSqlScriptFilename" value="Autogen.sql"/>
    <add key="DefaultCssFilename" value="StyleSheet"/>
    <add key="DefaultMasterPageFilename" value="MasterPage.master"/>
    <add key="DefaultAspPageFilename" value="Default"/>
    <add key="DefaultWebConfigFilename" value="Web.config"/>

    <add key="DefaultTableDetailsSPName" value="prc_TableDetails.sql"/>

    <!-- Sql user account. Used for generating a store proc permissions -->
    <add key="DefaultDbUserName" value="dbo"/>

    <!--Object Prefixes and suffixes-->
    <add key="SpNamePrefix" value="up_"/>
    <add key="SelectSingleSpSuffix" value="SelectSingle"/>
    <add key="SelectManySpSuffix" value="SelectMany"/>
    <add key="SelectManyByXSpSuffix" value="SelectManyBy{0}"/>
    <add key="SelectAllSpSuffix" value="SelectAll"/>
    <add key="SelectAllPagSpSuffix" value="SelectAllPaged"/>
    <add key="InsertSingleSpSuffix" value="Insert"/>
    <add key="UpdateSpSuffix" value="Update"/>
    <add key="UpdateInsertSpSuffix" value="Set"/>
    <add key="DelAllSpSuffix" value="DeleteAll"/>
    <add key="DelManySpSuffix" value="DeleteMany"/>
    <add key="DelSingleSpSuffix" value="DeleteSingle"/>
    <add key="CountAllSpSuffix" value="CountAll"/>
    <add key="CountSearchSPSuffix" value="CountSearch"/>

    <!-- Sql script output filename -->
    <add key="_SQLScript.sql" value="SQLScriptFileName"/>

    <!-- C# name prefixes -->
    <add key="CSharpClassPrefix" value="c"/>
    <add key="CSharpEnumPrefix" value="e"/>
    <add key="CSharpInterfacePrefix" value="I"/>

    <!-- Xml data output filename -->
    <add key="XmlExportSuffix" value="_data.xml"/>

    <!-- tab sizes, in whitepace -->
    <add key="SqlTabSize" value="4"/>
    <add key="VisualStudioTabSize" value="8"/>

    <!-- output directory names -->
    <add key="DirectoryAspPages" value="\Asp Pages\"/>
    <add key="DirectoryOrm" value="\Orm\"/>
    <add key="DirectoryOrmExt" value="\Orm External\"/>
    <add key="DirectoryDal" value="\Dal\"/>
    <add key="DirectoryDalExt" value="\Dal External\"/>
    <add key="DirectoryWebService" value="\WebService\"/>
    <add key="DirectoryInterface" value="\Interface\"/>
    <add key="DirectoryWinforms" value="\Winforms\"/>
    <add key="DirectoryXmlData" value="\Xml\"/>
    <add key="DirectoryEnums" value="\Enums\"/>

  </appSettings>

  <connectionStrings>
    <add name="SQLConnection" connectionString="Data Source=.;Initial Catalog=Master;Integrated Security=SSPI;Connect Timeout=2;"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>

  <userSettings>
    <AutoCodeGen.Properties.Settings>
      <setting name="MainFormWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="MainFormHeight" serializeAs="String">
        <value>450</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value/>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value/>
      </setting>
      <setting name="Password" serializeAs="String">
        <value/>
      </setting>
      <setting name="LocalDb" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OutputPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="TableNameRegex" serializeAs="String">
        <value/>
      </setting>
      <setting name="RemoveExistingScripts" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CreateHelperSp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CreateSqlSpPerms" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SqlSeperateFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CsIncludeIsDirtyFlag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CsCreateBaseClass" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CsIncludeSqlClassDecoration" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CsIncludeBaseClassRefrence" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CsConvertNullableFields" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CsCreateCsharpAsStatic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CsIncludeSerialFlag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AspCreatePageAsConrol" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AspCreateMasterPage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AspCreateCssPage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AspCreateWebConfig" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AspCreateDefaultPage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CsharpTargetVersion" serializeAs="String">
        <value>C# 4.0</value>
      </setting>
      <setting name="SqlTargetVersion" serializeAs="String">
        <value>Sql 2008</value>
      </setting>
      <setting name="FieldSelectorHeight" serializeAs="String">
        <value>313</value>
      </setting>
      <setting name="FieldSelectorWidth" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="XmlFormat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="XmlIncludeNs" serializeAs="String">
        <value>False</value>
      </setting>
    </AutoCodeGen.Properties.Settings>
  </userSettings>

</configuration>
